html {
	background-color: #EFE2DB;
	font-family: 'Shippori Mincho', serif;
	padding-left: 10px;
	padding-right: 10px;
}
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
h1 {
	font: bold;
	font-size: 33px;
	color:#422307;
}
h3 { 
	text-align: end;
}
p {
	line-height: 2;
}
.class {
	font-family:"bilbo";
	font-size: 18px;
}
#description{
	color:#301500;
	background-image: url("../images/background.jpg");
}
.container{
 

	line-height: 1;
	font-size: 18px;
	font-family:"Times New Roman";
	color: #301500;
	text-align: center;
	border: 5px dotted #3E3826 ; 
	background-color: #CAA18B;
    padding-top: 15px;
	padding-left: 35px; 
    border-radius: 20px;
}
.container-fluid{
	text-align: center;
}
.jumbotron{
	background-color: antiquewhite;
}
.carousel{
	width: 800px;
	height: 800px;
	align-content: center;
}